#encoding: utf-8
<%= javascript_include_tag "parallax", "facebook" %>
<div class="logo"><a href="/" title="Oxygene numerique">Oxygene Numerique</a></div>
<div class="wrapper">
	<h1>Add new dream</h1>
	<%= form_tag :action => 'create' do %>	
	<label for="user_gender_true"><%= radio_button 'user', :gender, true, :class => 'radio_button' %>Homme</label>
	<label for="user_gender_false"><%= radio_button 'user', :gender, false, :class => 'radio_button' %>Femme</label>
	<div class="clear"></div>
	<%= text_field 'user', :username , :placeholder => 'Pseudo', :class => 'text_field', :required => true %>
	<%= text_area 'dream', :message, :placeholder => 'Inscrivez votre rêve le plus fou', :class => 'text_area', :required =>true %>
	<%= hidden_field 'user', :fb_first_name %>
	<%= hidden_field 'user', :fb_last_name %>
	<%= hidden_field 'user', :location %>
	<%= hidden_field 'user', :fb_id %>
	<%= hidden_field 'user', :fb_status %>
	<%= hidden_field 'user', :email %>
	<%= hidden_field_tag(:birthday) %>
	<%= submit_tag "Déposez votre rêve et découvrez ceux des autres", :class => 'submit' %>
	<%= link_to 'Retour à la page d\'accueil', root_path %>
	<% end %>
	<div class="cloud cloud_blue">*</div>
	<div class="cloud cloud_grey">*</div>
	<div class="cloud cloud_white">*</div>
</div>
<div class="fb-login-button" scope="email,user_interests,user_status,user_birthday" style="display:none;" redirect_uri="http://www.oxynum.fr/toto">Se connecter avec Facebook</div>