<!DOCTYPE html>
<html>
<head>
  <title>Oxygene numerique</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.parallax.min" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=0.95,user-scalable=yes" /> 
</head>
<body>

<%= yield %>

</body>
</html>
